.DS_Store
node_modules/
.idea/
.envrc
dist/
data/
test/terraform-binaries/
.env
stores/**/client/
helm/citizen/Chart.lock
helm/citizen/charts
helm/citizen/secrets/key.json
helm/citizen/values-internal.yaml
